<%- include('./partials/header.ejs') %>

    <div class="blog-details">
        <div class="blog-header">
            <h2>
                <%= blog.title %>
            </h2>
            <div class="blog-meta">
                <span class="date"><i class="far fa-calendar-alt"></i>
                    <%= new Date(blog.createdAt).toLocaleDateString() %>
                </span>
            </div>
        </div>
        <div class="blog-content">
            <p class="snippet"><em>
                    <%= blog.snippet %>
                </em></p>
            <div class="body">
                <p>
                    <%= blog.body %>
                </p>
            </div>
        </div>
        <div class="blog-actions">
            <a href="/blogs" class="btn edit"><i class="fas fa-arrow-left"></i>Back to Blogs</a>
            <div class="action-buttons">
                <a href="/blogs/<%= blog.id %>/edit" class="edit btn"><i class="fas fa-edit"></i>Edit</a>
                <form action="/blogs/<%= blog.id %>?_method=DELETE" method="POST" class="delete-form">
                    <button type="submit" class="delete btn"><i class="fas fa-trash"></i>Delete</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>