<%- include("./partials/header.ejs") %>

  <section class="blogs-header">
    <h2>All Blog Posts</h2>
    <a href="/blogs/new" class="btn new"><i class="fas fa-plus"></i>New Blog</a>
  </section>

  <section class="blog-list">
    <% if (blogs.length> 0) { %>
      <% blogs.forEach(blog=> { %>
        <article class="blog-card">
          <h3><a href="/blogs/<%= blog.id %>">
              <%= blog.title %>
            </a></h3>
          <p>
            <%= blog.snippet %>
          </p>
          <div class="blog-meta">
            <span class="date"><i class="far fa-calendar-alt"></i>
              <%= new Date(blog.createdAt).toLocaleDateString() %>
            </span>
            <div class="blog-actions">
              <a href="/blogs/<%= blog.id %>" class="btn read-more">Read More</a>
              <a href="/blogs/<%= blog.id %>/edit" class="btn edit"><i class="fas fa-edit"></i></a>
              <form action="/blogs/<%= blog.id %>?_method=DELETE" method="POST" class="delete-form">
                <button type="submit" class="btn delete"><i class="fas fa-trash"></i></button>
              </form>
            </div>
          </div>
        </article>
        <% }) %>
          <% } else { %>
            <p>No blogs available. Please create a new blog post.</p>
            <a href="/blogs/new">Create Your First Blog</a>
            <% } %>
  </section>


  <%- include("./partials/footer.ejs") %>